.frame-principal {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame-principal .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 6000px;
  position: relative;
}

.frame-principal .overlap {
  position: absolute;
  width: 100%;
  height: 5934px;
  top: 0;
  left: 0;
}

.frame-principal .group {
  position: absolute;
  width: 100%;
  height: 2771px;
  top: 0;
  left: 0;
}

.frame-principal .group-2 {
  position: absolute;
  width: 100%;
  height: 560px;
  top: 5374px;
  left: 0;
}

.frame-principal .rectangle {
  position: absolute;
  width: 100%;
  height: 560px;
  top: 0;
  left: 955px;
  background-color: #b3dcf1;
}

.frame-principal .group-wrapper {
  position: absolute;
  width: 100%;
  height: 560px;
  top: 0;
  left: 0;
}

.frame-principal .overlap-wrapper {
  width: 957px;
  height: 560px;
}

.frame-principal .overlap-group {
  position: relative;
  width: 955px;
  height: 560px;
  background-color: #7894a2;
}

.frame-principal .div-wrapper {
  position: absolute;
  width: 570px;
  height: 177px;
  top: 128px;
  left: 214px;
}

.frame-principal .group-3 {
  height: 177px;
}

.frame-principal .group-4 {
  width: 570px;
  height: 177px;
}

.frame-principal .overlap-group-wrapper {
  width: 572px;
  height: 177px;
}

.frame-principal .overlap-group-2 {
  position: relative;
  width: 574px;
  height: 177px;
}

.frame-principal .text-wrapper {
  position: absolute;
  width: 413px;
  height: 62px;
  top: 59px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 44.8px;
}

.frame-principal .group-5 {
  position: absolute;
  width: 574px;
  height: 177px;
  top: 0;
  left: 0;
}

.frame-principal .text-wrapper-2 {
  position: absolute;
  width: 180px;
  height: 62px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 44.8px;
}

.frame-principal .text-wrapper-3 {
  position: absolute;
  width: 570px;
  height: 62px;
  top: 115px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 44.8px;
}

.frame-principal .text-wrapper-4 {
  position: absolute;
  width: 203px;
  top: 63px;
  left: 214px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-principal .group-6 {
  position: absolute;
  width: 360px;
  height: 23px;
  top: 64px;
  left: 1200px;
}

.frame-principal .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 300px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-principal .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-principal .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 116px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-principal .img {
  position: absolute;
  width: 740px;
  height: 798px;
  top: 129px;
  left: 1043px;
}

.frame-principal .vector {
  position: absolute;
  width: 100%;
  height: 2860px;
  top: 2522px;
  left: 0;
}

.frame-principal .group-7 {
  position: absolute;
  width: 639px;
  height: 478px;
  top: 300px;
  left: 241px;
}

.frame-principal .text-wrapper-8 {
  position: absolute;
  width: 635px;
  top: 0;
  left: 0;
  font-family: "Caveat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 80px;
  letter-spacing: 0;
  line-height: normal;
}


.frame-principal .a-be-move {
  position: absolute;
  width: 588px;
  top: 129px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-principal .linked-SE-MOVA-HOJE {
  position: absolute;
  top: 4322px;
  left: 475px;
   font-family: "Caveat", Helvetica;
  font-weight: 400;
  color: #08384d;
  font-size: 70px;
  text-align: center;
  letter-spacing: -0.96px;
  line-height: 30px;

  white-space: nowrap;
}

.frame-principal .text-wrapper-9 {
  position: absolute;
  width: 741px;
  top: 2770px;
  left: 666px;
  font-family: "Caveat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 70px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.frame-principal .group-9 {
  position: absolute;
  width: 1565px;
  height: 804px;
  top: 1457px;
  left: 222px;
}

.frame-principal .group-10 {
  position: absolute;
  width: 363px;
  height: 8px;
  top: 796px;
  left: 35px;
}

.frame-principal .rectangle-2 {
  position: absolute;
  width: 89px;
  height: 8px;
  top: 0;
  left: 274px;
  background-color: #b8e3f8;
  border-radius: 13px;
}

.frame-principal .rectangle-3 {
  position: absolute;
  width: 89px;
  height: 8px;
  top: 0;
  left: 138px;
  background-color: #b8e3f8;
  border-radius: 13px;
}

.frame-principal .rectangle-4 {
  position: absolute;
  width: 89px;
  height: 8px;
  top: 0;
  left: 0;
  background-color: #b8e3f8;
  border-radius: 13px;
}

.frame-principal .overlap-2 {
  position: absolute;
  width: 907px;
  height: 601px;
  top: 0;
  left: 530px;
}

.frame-principal .meu-nome-diogo-pena {
  position: absolute;
  width: 905px;
  top: 100px;
  left: 2px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0rem;
  line-height: 30px;
}


.frame-principal .text-wrapper-10 {
  position: absolute;
  width: 741px;
  top: 0;
  left: 0;
  font-family: "Caveat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.frame-principal .mask-group {
  position: absolute;
  width: 472px;
  height: 712px;
  top: 59px;
  left: -4px;
}

.frame-principal .text-wrapper-11 {
  position: absolute;
  top: 4902px;
  left: 690px;
  font-family: "Caveat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 500%;
  text-align: center;
  letter-spacing: -1.10px;
  line-height: 66.0px;
  white-space: nowrap;
}

.frame-principal .todos-os-dias-das {
  position: absolute;
  width: 667px;
  height: 97px;
  top: 5510px;
  left: 1125px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 44.8px;
}

.frame-principal .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 44.8px;
}

.frame-principal .text-wrapper-12 {
  font-size: 36px;
  line-height: 50.4px;
}

.frame-principal .text-wrapper-13 {
  position: absolute;
  width: 235px;
  height: 38px;
  top: 5446px;
  left: 1125px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 67.2px;
  white-space: nowrap;
}

.frame-principal .group-11 {
  position: absolute;
  width: 156px;
  height: 156px;
  top: 4672px;
  left: 582px;
  transform: rotate(-90deg);
  box-shadow: -4px 0px 4px #00000040;
  border-radius: 20px;
}

.frame-principal .group-12 {
  height: 156px;
  background-color: #eaeaea;
  border-radius: 20px;
}

.frame-principal .whatsapp-color {
  position: relative;
  width: 101px;
  height: 101px;
  top: 27px;
  left: 28px;
  box-shadow:  inset 10px -10px 10px 1px #00000040;
  border-radius: 50px;
}

.frame-principal .icons {
  position: absolute;
  width: 101px;
  height: 101px;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

.frame-principal .group-13 {
  position: absolute;
  width: 164px;
  height: 164px;
  top: 4672px;
  left: 1118px;
}

.frame-principal .group-14 {
  position:relative;
  width: 156px;
  height: 156px;
  top: 4672px;
  left: 850px;
}



.frame-principal .overlap-3 {
  position: relative;
  height: 156px;
  border-radius: 20px;
}

.frame-principal .rectangle-5 {
  position: absolute;
  width: 156px;
  height: 156px;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
}

.frame-principal .group-15 {
  position: absolute;
  width: 101px;
  height: 101px;
  top: 28px;
  left: 28px;
}

.frame-principal .group-16 {
  position: absolute;
  width: 156px;
  height: 156px;
  top: 4672px;
  left: 1035px;
  box-shadow: 0px 4px 4px #00000040;
}

.frame-principal .vector-wrapper {
  position: relative;
  width: 102px;
  height: 102px;
  top: 28px;
  left: 29px;
  background-color: #477bbf;
  border-radius: 50.96px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.frame-principal .vector-2 {
  position: absolute;
  width: 44px;
  height: 81px;
  top: 10px;
  left: 27px;
}

.frame-principal .png-logodiogopena {
  position: absolute;
  width: 193px;
  height: 174px;
  top: 0.5%;
  left: 131px;
  object-fit: cover;
}

.frame-principal .group-17 {
  position: absolute;
  width: 522px;
  height: 660px;
  top: 2906px;
  left: 1050px;
}

.frame-principal .overlap-4 {
  position: relative;
  height: 660px;
}

.frame-principal .group-18 {
  position: absolute;
  width: 522px;
  height: 660px;
  top: 0;
  left: 0;
}

.frame-principal .overlap-group-3 {
  position: relative;
  width: 528px;
  height: 668px;
  left: -4px;
}

.frame-principal .rectangle-6 {
  position: absolute;
  width: 445px;
  height: 636px;
  top: 0;
  left: 42px;
  background-color: #3d637e;
  border-radius: 20px;
}

.frame-principal .indica-es {
  position: absolute;
  width: 192px;
  top: 21px;
  left: 152px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #fcfcfc;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.72px;
  line-height: 54px;
  white-space: nowrap;
}

.frame-principal .group-19 {
  position: absolute;
  width: 320px;
  height: 220px;
  top: 95px;
  left: 104px;
}

.frame-principal .mask-group-wrapper {
  position: relative;
  height: 220px;
}

.frame-principal .mask-group-2 {
  position: absolute;
  width: 338px;
  height: 241px;
  top: 0;
  left: -9px;
}

.frame-principal .rectangle-7 {
  position: absolute;
  width: 528px;
  height: 316px;
  top: 352px;
  left: 0;
}

.frame-principal .p {
  position: absolute;
  width: 395px;
  top: 383px;
  left: 63px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #4e4e4e;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 36px;
}

.frame-principal .group-20 {
  position: absolute;
  width: 520px;
  height: 660px;
  top: 2905px;
  left: 275px;
}

.frame-principal .rectangle-8 {
  left: 37px;
  position: absolute;
  width: 445px;
  height: 636px;
  top: 0;
  background-color: #3d637e;
  border-radius: 20px;
}

.frame-principal .group-21 {
  position: absolute;
  width: 520px;
  height: 639px;
  top: 21px;
  left: 0;
}

.frame-principal .overlap-5 {
  position: relative;
  width: 528px;
  height: 647px;
  left: -4px;
}

.frame-principal .mask-group-3 {
  position: absolute;
  width: 528px;
  height: 316px;
  top: 331px;
  left: 0;
}

.frame-principal .group-22 {
  position: absolute;
  width: 418px;
  height: 579px;
  top: 0;
  left: 53px;
}

.frame-principal .overlap-group-4 {
  position: absolute;
  width: 406px;
  height: 319px;
  top: 0;
  left: 0;
}

.frame-principal .text-wrapper-14 {
  position: absolute;
  width: 406px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #fcfcfc;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.72px;
  line-height: 54px;
}

.frame-principal .mask-group-4 {
  position: absolute;
  width: 338px;
  height: 241px;
  top: 78px;
  left: 34px;
}

.frame-principal .text-wrapper-15 {
  position: absolute;
  width: 406px;
  top: 363px;
  left: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #4d4d4d;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 36px;
}

.frame-principal .group-23 {
  position: absolute;
  width: 1488px;
  height: 396px;
  top: 3768px;
  left: 213px;
}

.frame-principal .overlap-6 {
  position: relative;
  width: 1486px;
  height: 396px;
}

.frame-principal .group-24 {
  position: absolute;
  width: 1486px;
  height: 396px;
  top: 0;
  left: 0;
}

.frame-principal .overlap-group-5 {
  position: relative;
  height: 396px;
}

.frame-principal .rectangle-9 {
  position: absolute;
  width: 1067px;
  height: 340px;
  top: 27px;
  left: 419px;
  background-color: #3d637e;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040, 0px 5px 4px #00000040;
}

.frame-principal .rectangle-10 {
  position: absolute;
  width: 445px;
  height: 396px;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
}

.frame-principal .img-wrapper {
  position: absolute;
  width: 10px;
  height: 220px;
  top:45px;
  left: 18px;
}

.frame-principal .mask-group-5 {
  position: absolute;
  width: 428px;
  height: 341px;
  top: 0;
  left: -9px;
}

.frame-principal .acredito-que-quem-se {
  position: absolute;
  width: 941px;
  top: 73px;
  left: 496px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 29px;
  text-align: center;
  letter-spacing: -0.58px;
  line-height: 43.5px;
}



.frame-principal .group-27 {
  position: absolute;
  width: 445px;
  height: 660px;
  top: 0;
  left: 0;
}

.frame-principal .group-28 {
  width: 447px;
  height: 660px;
}

.frame-principal .overlap-group-6 {
  position: relative;
  width: 445px;
  height: 660px;
}

.frame-principal .rectangle-11 {
  left: 0;
  position: absolute;
  width: 445px;
  height: 636px;
  top: 0;
  background-color: #3d637e;
  border-radius: 20px;
}

.frame-principal .mask-group-6 {
  position: absolute;
  width: 445px;
  height: 308px;
  top: 352px;
  left: 0;
}

.frame-principal .text-wrapper-16 {
  position: absolute;
  width: 192px;
  top: 21px;
  left: 127px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #fcfcfc;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.72px;
  line-height: 54px;
  white-space: nowrap;
}

.frame-principal .group-29 {
  position: absolute;
  width: 320px;
  height: 220px;
  top: 99px;
  left: 63px;
}

.frame-principal .rectangle-12 {
  position: absolute;
  width: 528px;
  height: 316px;
  top: 353px;
  left: 0;
}

.frame-principal .group-30 {
  position: absolute;
  width: 408px;
  height: 216px;
  top: 383px;
  left: 61px;
}

.frame-principal .text-wrapper-17 {
  position: absolute;
  width: 406px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #4e4e4e;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 36px;
}

.frame-principal .overlap-8 {
  position: absolute;
  width: 100%;
  height: 69px;
  top: 5934px;
  left: 0;
  background-color: #08384d;
}

.frame-principal .text-wrapper-18 {
  position: absolute;
  top: 15px;
  left: 565px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}



.frame-principal .group-31 {
  position: fixed;
  width: 93px;
  height: 94px;
  bottom: 10px;
  right: 10px;
  opacity: 80%;
  border-radius: 50%;

}
@media screen and (max-width: 390px){

}
